# Ejemplos de For

In [15]:
#Uso de Range(incial, fin, contador++)
for x in range(10,50,5):
    if(x%2==0):
        print('$'*x)
    else:
        print('#'*x)

$$$$$$$$$$
###############
$$$$$$$$$$$$$$$$$$$$
#########################
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
###################################
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
#############################################

In [21]:
# Generar tabla de multiplicar
valor_multiplo= float(input('Ingresar valor a multiplicar: '))
valor_iterar=int(input('Hasta que numero se multiplicará?: '))

print('Tabla de Multiplicar de ',valor_multiplo)
for x in range(1,int(valor_iterar+1)):
    print(f'{valor_multiplo} x {x} = {x*valor_multiplo}')

Ingresar valor a multiplicar:  6.5
Hasta que numero se multiplicará?:  10

Tabla de Multiplicar de  6.5
6.5 x 1 = 6.5
6.5 x 2 = 13.0
6.5 x 3 = 19.5
6.5 x 4 = 26.0
6.5 x 5 = 32.5
6.5 x 6 = 39.0
6.5 x 7 = 45.5
6.5 x 8 = 52.0
6.5 x 9 = 58.5
6.5 x 10 = 65.0

In [22]:
#Mostrar tablas del 1 al 10
for a in range(1,11):
    print(f'Tabla de Multiplicar de {a}')
    for b in range(1,11):
        print(f'{a} x {b} = {a*b}')

Tabla de Multiplicar de 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
Tabla de Multiplicar de 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
Tabla de Multiplicar de 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
Tabla de Multiplicar de 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
Tabla de Multiplicar de 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
Tabla de Multiplicar de 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
Tabla de Multiplicar de 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
Tabla de Multiplicar de 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
Tabla de Multiplicar de 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
Tabla de Multiplicar de 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [7]:
#Recorrido de palabras en cadenas
texto = "Sebastian Edu Cortez Cotos DNI 12345678"
espacio=' '
n=1
diccionario_contador={'mayusculas':0,'minusculas':0,'espacio':0,'alfabetico':0,'numeros':0}
for letra in texto:
    print(f'{espacio*n}{letra}')
    n+=1
    if letra.isupper():
        diccionario_contador['mayusculas']+=1
    if letra.islower():
        diccionario_contador['minusculas']+=1
    if letra.isspace():
        diccionario_contador['espacio']+=1
    if letra.isalpha():
        diccionario_contador['alfabetico']+=1
    if letra.isnumeric():
        diccionario_contador['numeros']+=1


print(f'Existen {diccionario_contador['mayusculas']} letras Mayusculas')
print(f'Existen {diccionario_contador['minusculas']} letras Minusculas')
print(f'Existen {diccionario_contador['espacio']} espacios')
print(f'Existen {diccionario_contador['alfabetico']} caracteres alfabeticos')
print(f'Existen {diccionario_contador['numeros']} caracteres numericos')

 S
  e
   b
    a
     s
      t
       i
        a
         n

           E
            d
             u

               C
                o
                 r
                  t
                   e
                    z

                      C
                       o
                        t
                         o
                          s

                            D
                             N
                              I

                                1
                                 2
                                  3
                                   4
                                    5
                                     6
                                      7
                                       8
Existen 7 letras Mayusculas
Existen 19 letras Minusculas
Existen 5 espacios
Existen 26 caracteres alfabeticos
Existen 8 caracteres numericos

In [9]:
#Uso de break o continue: sirve para romper un ciclo
lista=[]
for x in range(1,51):
    lista.append(x)
print(lista)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [18]:
total=0
total_f=0
for y in lista:
    if y>20:
        break
    total=total_f
    total_f+=y
    print(f"La suma del total anterior:{total} + {y} agregado es {total_f}")

La suma del total anterior:0 + 1 agregado es 1
La suma del total anterior:1 + 2 agregado es 3
La suma del total anterior:3 + 3 agregado es 6
La suma del total anterior:6 + 4 agregado es 10
La suma del total anterior:10 + 5 agregado es 15
La suma del total anterior:15 + 6 agregado es 21
La suma del total anterior:21 + 7 agregado es 28
La suma del total anterior:28 + 8 agregado es 36
La suma del total anterior:36 + 9 agregado es 45
La suma del total anterior:45 + 10 agregado es 55
La suma del total anterior:55 + 11 agregado es 66
La suma del total anterior:66 + 12 agregado es 78
La suma del total anterior:78 + 13 agregado es 91
La suma del total anterior:91 + 14 agregado es 105
La suma del total anterior:105 + 15 agregado es 120
La suma del total anterior:120 + 16 agregado es 136
La suma del total anterior:136 + 17 agregado es 153
La suma del total anterior:153 + 18 agregado es 171
La suma del total anterior:171 + 19 agregado es 190
La suma del total anterior:190 + 20 agregado es 210